{# block head: used for importing more style/ scripts 
block nav: inside navbar <ul> tag
block body: inside body container #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Super Tripper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="yuchikuo">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='super-tripper.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='base.js') }}"></script>

  {% block head %}
  {% endblock %}
  </head>

  <body ng-app="superTripperApp">

    <div class="navbar navbar-fixed-top height-fixed">
      <div class="navbar-inner">
        <div class="st-container">
       <a class="brand" href="{{ url_for('showTrip') }}">Super Tripper</a> 
      <ul class="nav">
        {% block nav %}
        {% endblock %}
      </ul>
      <ul class="nav pull-right">
        {% block nav_right %}
        {% endblock %}
        {% if current_user.is_authenticated() %}
          <li class="active"><a>Hi, <strong>{{ current_user.username }}</strong></a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
      </ul>
        </div>
      </div>
    </div>
{% block before %}
{% endblock %}
    <div class="st-container height-floating" id="bodyContainer">
  {% block body %}
  {% endblock %}

    </div> <!-- /container -->
  </body>
</html>
