{% extends "form.html" %}
{% block head %}
	<script src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock %}

{% block left %}
	<div class="hero-unit">
		<h1>Super Tripper</h1>
		<p>Plan a trip with your friends!</p>
	</div>
{% endblock %}

{% block form %}
<form class="form-horizontal" method="post" action="login">
	<fieldset>
	<legend> Login </legend>
		<div class="control-group" id="usernameGroup">
			<label class="control-label">Username</label>
			<div class="controls" id="usernameControl">
				<input class="input-small" type=text name=username id="username">
			</div>
		</div>
		<div class="control-group" id="passwordGroup">
			<label class="control-label">Password</label>
			<div class="controls" id="passwordControl">
				<input class="input-small" type=password name=password id="password">
			</div>
		</div>
		<div class="control-group" id="rememberMeGroup">
			<label class="control-label">Remember me</label>
			<div class="controls">
				<input type=checkbox name=remember value=yes>
			</div>
		</div>
		<div class="form-actions">
			<input class="btn btn-large btn-primary" type=submit value=Login>
		</div>
	</fieldset>
</form>
{% endblock %}