{% extends "form.html" %}


{% block left %}

<div class="hero-unit">
  <h1>Super Tripper</h1>

  <p>Plan a trip with your friends!</p>
</div>
{% endblock %}

{% block form %}
<form novalidate class="form-horizontal" method="post" action="/register/" name="form">
  <fieldset>
    <legend> Sign up</legend>
    <div class="control-group" id="usernameGroup" ng-class="{warning: form.username.$invalid && form.username.$dirty}">
      <label class="control-label">Username</label>

      <div class="controls" id="usernameControl">
        <input class="input-small" type="text" ng-model="user.name" ng-pattern="/^[a-zA-Z0-9_\\.]+$/" name="username" id="username" required>
        <span class="help-inline" ng-show="form.username.$error.required && form.username.$dirty">Please enter username.</span>
        <span class="help-inline" ng-show="form.username.$error.pattern">Only letters, numbers, backslashes, underscores, and dots are allowed.</span>
      </div>
    </div>
    <div class="control-group" id="passwordGroup" ng-class="{warning: form.password.$invalid && form.password.$dirty}">
      <label class="control-label">Password</label>

      <div class="controls" id="passwordControl">
        <input class="input-small" type="password" ng-model="user.password" name="password" id="password" required>
        <span class="help-inline" ng-show="form.password.$error.required && form.password.$dirty">Please enter password.</span>
      </div>
    </div>
    <div class="control-group" id="confirmPasswordGroup" ng-class="{warning: user.password!=user.confirmPassword && form.confirmPassword.$dirty}">
      <label class="control-label">Confirm password</label>

      <div class="controls" id="confirmPasswordControl">
        <input class="input-small" type="password" ng-model="user.confirmPassword" name="confirmPassword" id="confirmPassword" required>
        <span class="help-inline" ng-show="user.password!=user.confirmPassword && form.confirmPassword.$dirty">Password and Confirm Password must agree.</span>
      </div>
    </div>

    <div class="form-actions">
      <input class="btn btn-default" type="reset" value="Reset" ng-click="reset()">
      <input class="btn btn-primary" type="submit" value="Sign up" ng-disabled="form.$invalid || user.password!=user.confirmPassword">
    </div>
  </fieldset>
</form>
{% endblock %}